body{   
    font-family:"Parkinsans", serif;; 
    background-image: url("hearts2.jpg") ;  
    background-position: center;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top:100px;     
    
}

.App-footer{
    max-width: 500px;
    text-align: center;
    background-color: rgb(237, 226, 240);
    opacity: 90%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -8px 6px 6px rgba(0,0,0,0.9);
    margin:15px auto;
    border: 0.5px solid rgb(55, 13, 55);
}

@media(max-width:950px){
   body{
     margin-top:50px;
    }
}