body{   
    font-family:"Parkinsans", serif;; 
    background-image: url("hearts2.jpg") ;  
    background-position: center;  
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top:100px;     
    
}

.App-footer{
    font-size:14px;
    text-align: center;
    margin:35px;
    color:aliceblue;
}

@media(max-width:950px){
   body{
     margin-top:50px;
    }
}